/* TO DO */
/* <details> */
:root {
	--brand: #41adff;
	--mainbg: #232a31;
	--mainpaddng: 14px;
	--radius: 7px;

	--low: #161f27;
	--like: #2b3c4b;
	--midi: #324759;
	--hight: #0b7392;

	--text: #dbdbdb;
	--textContrast: #fff;

	--code: #ffbe85;

	/* --button: #2b3c4a; */
	--button: #334a5e;
	--buttontext: #fff;

	--fillhover: #1b2731;

	--sticky: 0px;

	/* --mainpaddng: 11px;
	--radius: 11px; */
}
/* 
:root {
	--brand: #41adff;
	--mainbg: #ffffff;~
	--mainpaddng: 14px;
	--radius: 7px;

	--low: #e8f1fa;
	--like: #cfe2f7;
	--midi: #b2cee7;
	--hight: #1db5e4;

	--text: #3f4646;
	--textContrast: #1a1f1f;

	--code: #20595f;

	--button: #3dcca1;
	--buttontext: #fff;

	--fillhover: #e8f5ff;
} */

/* :root {
	--mainpaddng: 18px;
	--radius: 3px;
	--brand: #c21a1a;
	--mainbg: #312323;

	--code: #ffbe85;

	--text: #dbdbdb;
	--textContrast: #fff;

	--button: #4a2b2b;
	--buttontext: #fff;

	--fillhover: #311b1b;

	--low: #271616;
	--like: #4b2b2b;
	--midi: #593232;
	--hight: #800f0f;
} */

/* :root {
	--mainpaddng: 11px;
	--radius: 13px;
	--brand: #1ac260;
	--mainbg: #233126;

	--code: #c0ff85;

	--text: #dbdbdb;
	--textContrast: #fff;

	--button: #324a2b;
	--buttontext: #fff;

	--fillhover: #1b3122;

	--low: #162717;
	--like: #2b4b2e;
	--midi: #32593f;
	--hight: #0f803a;
} */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	line-height: 1.5;
	max-width: 950px;
	margin: 0px auto var(--mainpaddng);
	padding: 0 var(--mainpaddng);
	color: var(--text);
	background: var(--mainbg);
	text-rendering: optimizeLegibility;
}

label {
	display: block;
}
a,
a:active,
button,
select,
button:active,
input,
input:active,
textarea,
details,
summary,
th,
td {
	outline: none;
	box-shadow: none;
	transition: background-color 0.2s ease, box-shadow 0.2s ease,
		transform 0.2s ease;
}
h1 {
	font-size: 2.1em;
	margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--textContrast);
	font-weight: 600;
}
button,
[role="button"],
[type="range"],
[type="color"],
[type="submit"],
[type="file"],
[type="reset"],
[type="button"],
[type="checkbox"],
[type="radio"] {
	cursor: pointer;
	display: inline-block;
}
button > strong {
	font-size: 1.4em;
	padding: 0px calc(var(--mainpaddng));
	color: var(--buttontext);
	display: block;
}
output {
	display: inline-block;
	padding: 0 var(--mainpaddng);
}

input,
select,
button,
[role="button"],
[type="button"],
textarea {
	-webkit-tap-highlight-color: transparent;
	/* display: block; */
	color: var(--textContrast);
	background-color: var(--low);
	font-family: inherit;
	font-size: inherit;
	margin: 4px 4px 6px 0;
	padding: var(--mainpaddng);
	border: none;
	border-radius: var(--radius);
	outline: none;
	-webkit-appearance: none;
	vertical-align: middle;
}
input[type="number"] {
	max-width: calc(var(--mainpaddng) * 5);
}

select:not([multiple]) {
	padding-right: calc(var(--mainpaddng) * 3);
	background: var(--low)
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23dbdbdb%22%20d%3D%22m%2010.025%2C1.7575%20-6.67%2C0%203.335%2C3.475%20z%22%20%2F%3E%3C%2Fsvg%3E")
		100% 50%/27px 7px no-repeat;
}
input:hover,
select:hover,
textarea:hover,
textarea:hover {
	background-color: var(--fillhover);
}

textarea {
	margin-right: 0;
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}
button,
[role="button"],
[type="submit"],
[type="file"],
[type="reset"],
[type="button"] {
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 5px -5px rgba(0, 0, 0, 0),
		0 0 0 0 rgba(0, 0, 0, 0.2), 0 0px 0 0 var(--button),
		0 0 0 50px rgba(0, 0, 0, 0.2) inset;
	color: var(--buttontext);
	background-color: var(--button);
	padding: var(--mainpaddng) calc(var(--mainpaddng) * 2);
}

/* input:not([value=""]):invalid,
select:not([value=""]):invalid,
textarea:not([value=""]):invalid {
	box-shadow: 0 0 0 2px darkred;
} */

input:focus,
select:focus,
button:focus,
textarea:focus {
	background-color: var(--fillhover);
	box-shadow: 0 0 0 2px var(--hight);
}

button:focus,
[role="button"]:focus,
[type="submit"]:focus,
[type="file"]:focus,
[type="reset"]:focus,
[type="button"]:focus {
	background-color: var(--button);
}

button:hover,
[role="button"]:hover,
[type="submit"]:hover,
[type="file"]:hover,
[type="reset"]:hover,
[type="button"]:hover {
	text-decoration: none;
	color: var(--buttontext);
	background-color: var(--button);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0),
		0 5px 20px -5px rgba(0, 0, 0, 0.35), 0 3px 0 0 rgba(0, 0, 0, 0.1),
		0 3px 0 0 var(--button), 0 0 0 50px rgba(0, 0, 0, 0) inset;
	transform: translateY(-3px);
}
button:active,
[role="button"]:active,
[type="submit"]:active,
[type="file"]:active,
[type="reset"]:active,
[type="button"]:active {
	transform: translateY(0px);
	/* box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.35);*/

	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0),
		0 2px 20px -10px rgba(0, 0, 0, 0.25), 0 0px 0 0 rgba(0, 0, 0, 0.3),
		0 0px 0 0 var(--button), 0 0 10px 30px rgba(0, 0, 0, 0.32) inset,
		0 2px 0px 0 rgba(0, 0, 0, 0.3) inset,
		0 1px 5px -2px rgba(0, 0, 0, 0.3) inset;
}

input[type="range"] {
	height: 5px;
	width: 200px;
	max-width: 100%;
	-webkit-appearance: none;
	padding: 0;
	background: var(--midi);
	box-shadow: none;
	margin: calc(var(--mainpaddng) + 10px) 0;
	transition: background 0.25s ease;
}
input[type="range"]:active {
	background: var(--hight);
}
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-range-track,
input[type="range"]::-moz-range-track {
	-webkit-appearance: none;
	border-radius: 2px;
	height: 2px;
	background: var(--midi);
}
input[type="range"]::-webkit-slider-thumb {
	background: var(--hight);
	-webkit-appearance: none;
	margin-top: 0px;
	height: var(--mainpaddng);
	cursor: pointer;
	border-radius: 100%;
	width: var(--mainpaddng);
	transform: rotate(-45deg) scale(1.5);
	transition: background 0.25s ease, border-radius 0.25s ease,
		margin 0.2s ease;
}
input[type="range"]:focus::-webkit-slider-thumb {
	background: var(--brand);
}
input[type="range"]:active::-webkit-slider-thumb {
	background: var(--brand);
	border-radius: 100% 100% 100% 0;
	transform: rotate(-45deg) scale(2);
	margin-top: calc(var(--mainpaddng) * -2);
}
input[type="range"]::-moz-slider-thumb {
	background: var(--hight);
	-webkit-appearance: none;
	margin-top: 0px;
	border: 2px solid var(--mainbg);
	height: calc(var(--mainpaddng) * 1.5);
	cursor: pointer;
	width: calc(var(--mainpaddng) * 1.5);
	border-radius: 100%;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	background: tansparent;
}

input[type="range"]::-ms-track {
	border-radius: 2px;
	height: 3px;
	background: var(--low);
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

input[type="range"]::-ms-thumb {
	background: var(--hight);
	-webkit-appearance: none;
	margin-top: 0px;
	border: 2px solid var(--mainbg);
	height: calc(var(--mainpaddng) * 1.5);
	cursor: pointer;
	width: calc(var(--mainpaddng) * 1.5);
	border-radius: 100%;
}
input[type="range"]:focus::-ms-fill-lower {
	background: var(--brand);
}
input[type="range"]:focus::-ms-fill-upper {
	background: var(--brand);
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	overflow: hidden;
	border-radius: 100%;
	padding: 13px;
	width: calc(var(--mainpaddng) * 2);
	height: calc(var(--mainpaddng) * 2);
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 100%;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

label > input,
label > input[type="range"],
label > input[type="color"],
label > select {
	display: block;
}

input:disabled,
input[disabled],
select[disabled],
button[disabled],
[role="button"][disabled] {
	cursor: not-allowed;
	opacity: 0.5;
	box-shadow: none;
	transform: translateY(0px);
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: -2px;
	transition: background-color 0.25s ease,
		box-shadow 0.25s cubic-bezier(0.53, 1.59, 0.51, 1);
}
input[type="checkbox"] {
	background-color: var(--like);
	width: calc(var(--mainpaddng) * 3);
	box-shadow: calc(var(--mainpaddng) * -1) 0 0 calc(var(--mainpaddng) / 3)
			var(--low) inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover {
	background-color: var(--midi);
}
input[type="checkbox"]:focus {
	box-shadow: calc(var(--mainpaddng) * -1) 0 0 calc(var(--mainpaddng) / 3)
			var(--low) inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight);
}

input[type="radio"] {
	border-radius: 100%;
	box-shadow: 0 0 0 calc(var(--mainpaddng) / 2) var(--low) inset;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	box-shadow: 0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight), 0 0 0 1px var(--low);
	background-color: var(--brand);
}

input[type="checkbox"]:checked {
	box-shadow: var(--mainpaddng) 0 0 calc(var(--mainpaddng) / 3) var(--low)
			inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight);
}

input[type="file"] {
	text-align: center;
	max-width: 280px;
	position: relative;
	overflow: hidden;
	padding: var(--mainpaddng) 5px;
	/* font-size: 12px; */
	/* text-indent: -130px; */
}
input[type="file"]:before {
	content: "";
	margin-left: -200px;
}
input[type="file"]:after {
	content: "";
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	padding: var(--mainpaddng);
	background: rgba(255, 255, 255, 0.1)
		url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201000%201000%22%3E%0A%3Cg%3E%3Cpath%20fill%3D%22%23dbdbdb%22%20d%3D%22M175.8%2C973.6c-41.5%2C0-81.3-17.2-113-49c-70.4-70.6-70.4-185.4%2C0-255.9L611.5%2C86c85.6-85.8%2C216.7-78.1%2C312.4%2C17.8c42.9%2C43%2C67%2C104.9%2C66.1%2C170c-0.9%2C64.4-26.1%2C126.1-69.1%2C169.1L506.2%2C884.3c-11.6%2C12.4-30.9%2C12.9-43.2%2C1.3c-12.3-11.6-12.9-31-1.3-43.3L877%2C400.2c32.5-32.5%2C51.1-78.7%2C51.8-127.3c0.7-48.6-16.9-94.5-48.2-125.8C822%2C88.3%2C726.4%2C57.4%2C655.3%2C128.7L106.7%2C711.3c-47.2%2C47.3-47.2%2C123.3-0.6%2C169.9c21.8%2C21.9%2C47.7%2C32.5%2C75.3%2C30.8c27.3-1.7%2C55.4-15.7%2C79-39.4L697%2C408c15.8-15.9%2C47.6-54.7%2C15.2-87.2c-18.3-18.4-31.2-17.2-35.4-16.9c-12.1%2C1.1-26.2%2C9.4-40.9%2C24.2L307.4%2C677.6c-11.6%2C12.4-31%2C12.9-43.2%2C1.3c-12.3-11.6-12.9-31-1.3-43.3L592%2C285.5c25.9-26%2C52.3-40.1%2C79.3-42.5c21-1.9%2C52.3%2C2.6%2C84.2%2C34.6c47.3%2C47.4%2C41.4%2C117-14.6%2C173.1L304.3%2C915.4c-34.9%2C35-76.9%2C55.3-119.2%2C57.9C182%2C973.5%2C178.9%2C973.6%2C175.8%2C973.6%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E)
		50% 50%/35% auto no-repeat;
}

::placeholder {
	color: #636363;
}
a {
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: var(--hight);
}
a:hover {
	text-decoration: underline;
	color: var(--brand);
}

mark {
	background: linear-gradient(var(--hight), var(--hight)) 45% 92%/100% 35%
		no-repeat;
	/* background: var(--midi); */
	padding: 3px;
	margin: -3px;
	/* text-shadow: 1px 1px 1px var(--mainbg), -1px 1px 1px var(--mainbg),
		0px 1px 1px var(--mainbg); */
	color: var(--textContrast);
	/* border-radius: var(--radius); */
}

ul,
ol,
label,
code,
p {
	margin: var(--mainpaddng) 0;
}

code,
kbd {
	background: var(--low);
	color: var(--code);
	padding: 4px;
	border-radius: var(--radius);
}

cite,
q {
	display: block;
	margin: var(--mainpaddng) 0;
	color: var(--hight);
	/* border-radius: var(--radius); */
	padding: 0 var(--mainpaddng);
	border-left: 3px solid var(--brand);
}

/* pre {
	margin: 0 calc(var(--mainpaddng) * -1);
} */
pre > code {
	display: block;
	overflow-x: auto;
	padding: var(--mainpaddng);
}
img {
	display: inline-block;
	max-width: 100%;
}

img:before {
	content: "The image could not be loaded. (url: " attr(src) ")";
	padding: calc(var(--mainpaddng) * 2) var(--mainpaddng);
	color: var(--brand);
	display: block;
	font-size: 12px;
	border-radius: calc(var(--radius));
	background: var(--low);
	border: var(--midi);
}

hr {
	margin: var(--mainpaddng) 0;
	border: none;
	height: 3px;
	border-radius: calc(var(--radius) / 6);
	background: var(--midi);
}
fieldset {
	border: 3px solid var(--midi);
	border-radius: var(--radius);
}
fieldset > legend {
	font-weight: 600;
	color: var(--textContrast);
	padding: calc(var(--mainpaddng) / 2) calc(var(--mainpaddng));
}

details {
	padding: var(--mainpaddng);
	border-radius: var(--radius);
	padding-bottom: calc(var(--mainpaddng) + var(--radius));
	background: var(--low);
	position: relative;
	list-style: none;
}

details:last-of-type {
	padding-bottom: var(--mainpaddng);
}

details + details {
	margin-top: calc(var(--radius) * -1);
	border-top: 1px solid var(--mainbg);
	border-radius: 0 0 var(--radius) var(--radius);
}

details[open],
details:hover:not([open]) {
	background: var(--like);
	/* z-index: 1; */
}
details > summary {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: calc(var(--mainpaddng) * -1);
	padding: var(--mainpaddng);
	transition: color 0.2s ease;
	padding-left: calc(var(--mainpaddng) * 3);
}

details > summary::after {
	content: "";
	position: absolute;
	left: calc(var(--mainpaddng));
	top: calc(var(--mainpaddng) - 10px + 0.55em);
	border: 2px solid var(--brand);
	/* border-width: 0 0 2px 2px; */
	border-width: 2px 2px 0 0;
	font-size: 2em;
	height: 8px;
	width: 8px;
	transform: rotate(45deg);
	transition: transform 0.2s ease;
	transform-origin: 70% 30%;
}

details[open] > summary::after {
	transform: rotate(135deg);
}

details[open] > summary {
	color: var(--textContrast);
	margin-bottom: var(--mainpaddng);
	padding-bottom: 0;
}

details > summary::-webkit-details-marker {
	display: none;
}
table {
	/* display: block; */
	/* overflow-x: auto; */
	/* border-collapse: collapse; */
	margin: var(--mainpaddng) -1px;
	width: calc(100% + 2px);
	border-spacing: 1px;
	position: relative;
}
tbody,
tfoot,
thead {
	/* border-radius: 0; */
	overflow: hidden;
	background: var(--mainbg);
	table-layout: fixed;
	position: relative;
	z-index: 0;
	display: table;
	width: calc(100% + 2px);
}

thead:first-child,
tbody:first-child,
tfoot:first-child {
	border-top-left-radius: calc(var(--radius) + 2px);
	border-top-right-radius: calc(var(--radius) + 2px);
}
tfoot:last-child,
tbody:last-child,
thead:last-child {
	border-bottom-left-radius: calc(var(--radius) + 2px);
	border-bottom-right-radius: calc(var(--radius) + 2px);
}

header,
thead {
	background: var(--mainbg);
	position: sticky;
	top: 0;
	bottom: 0;
	top: var(--sticky);
	z-index: 5;
	box-shadow: 0px 12px 15px -15px rgba(0, 0, 0, 0.35);
}
tfoot {
	position: sticky;
	bottom: 0;
}

header {
	z-index: 10;
	top: 0px;
	display: block;
	padding: var(--mainpaddng);
	margin: 0 calc(var(--mainpaddng) * -1) var(--mainpaddng);
}
td,
th {
	padding: var(--mainpaddng);
	background: var(--low);
}
th {
	color: var(--textContrast);
}
tr:hover td {
	background-color: var(--fillhover);
}

footer {
	margin: calc(var(--mainpaddng) * 3) 0 0;
	padding: calc(var(--mainpaddng) * 2) 0;
	position: relative;
	text-align: center;
	/* position: relative; */
}

footer:after {
	z-index: -1;
	background: var(--low);
	content: "";
	display: block;
	position: absolute;
	/* width: 100%; */
	right: calc(var(--mainpaddng) * -1);
	left: calc(var(--mainpaddng) * -1);
	top: calc(var(--mainpaddng) * -1);
	height: calc(100% + var(--mainpaddng) * 2);
}
