/* TO DO */
/* <details> */
:root {
	--brand: #41adff;
	--mainbg: #232a31;
	--mainpaddng: 14px;
	--radius: 7px;

	--low: #161f27;
	--like: #2b3c4b;
	--midi: #324759;
	--hight: #0b7392;

	--text: #dbdbdb;
	--textContrast: #fff;

	--code: #ffbe85;

	--button: #2b3c4a;
	--buttonhover: #334a5e;
	--buttontext: #fff;

	--fillhover: #1b2731;
}
/* 
:root {
	--brand: #41adff;
	--mainbg: #ffffff;
	--mainpaddng: 14px;
	--radius: 7px;

	--low: #e8f1fa;
	--like: #cfe2f7;
	--midi: #b2cee7;
	--hight: #1db5e4;

	--text: #3f4646;
	--textContrast: #1a1f1f;

	--code: #20595f;

	--button: #3dcca1;
	--buttonhover: #34e0ad;
	--buttontext: #fff;

	--fillhover: #e8f5ff;
} */

/* :root {
	--mainpaddng: 18px;
	--radius: 3px;
	--brand: #c21a1a;
	--mainbg: #312323;

	--code: #ffbe85;

	--text: #dbdbdb;
	--textContrast: #fff;

	--button: #4a2b2b;
	--buttonhover: #5e3333;
	--buttontext: #fff;

	--fillhover: #311b1b;

	--low: #271616;
	--like: #4b2b2b;
	--midi: #593232;
	--hight: #800f0f;
} */

/* :root {
	--mainpaddng: 11px;
	--radius: 13px;
	--brand: #1ac260;
	--mainbg: #233126;

	--code: #c0ff85;

	--text: #dbdbdb;
	--textContrast: #fff;

	--button: #324a2b;
	--buttonhover: #385e33;
	--buttontext: #fff;

	--fillhover: #1b3122;

	--low: #162717;
	--like: #2b4b2e;
	--midi: #32593f;
	--hight: #0f803a;
} */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	line-height: 1.5;
	max-width: 800px;
	margin: 20px auto;
	padding: 0 var(--mainpaddng);
	color: var(--text);
	background: var(--mainbg);
	text-rendering: optimizeLegibility;
}

label {
	display: block;
}
a,
a:active,
button,
button:active,
input,
input:active,
textarea,
details,
summary,
th,
td {
	outline: none;
	box-shadow: none;
	transition: background-color 0.2s ease, box-shadow 0.2s ease,
		transform 0.2s ease;
}
h1 {
	font-size: 2.2em;
	margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--textContrast);
	font-weight: 600;
}
button,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"] {
	cursor: pointer;
	display: inline-block;
}

input,
select,
button,
textarea {
	/* display: block; */
	color: var(--textContrast);
	background-color: var(--low);
	font-family: inherit;
	font-size: inherit;
	margin: 4px 4px 6px 0;
	padding: var(--mainpaddng);
	border: none;
	border-radius: var(--radius);
	outline: none;
	-webkit-appearance: none;
	vertical-align: middle;
}
input[type="number"] {
	max-width: calc(var(--mainpaddng) * 5);
}

button:hover,
input:hover,
select:hover,
textarea:hover,
textarea:hover {
	background-color: var(--fillhover);
}

label > input,
label > select {
	display: block;
}

textarea {
	margin-right: 0;
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}
button,
input[type="submit"],
input[type="button"] {
	color: var(--buttontext);
	background-color: var(--button);
	padding: var(--mainpaddng) calc(var(--mainpaddng) * 2);
}

select {
	padding-right: calc(var(--mainpaddng) * 3);
	background: var(--low)
		url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23dbdbdb%22%20d%3D%22m%2010.025%2C1.7575%20-6.67%2C0%203.335%2C3.475%20z%22%20%2F%3E%3C%2Fsvg%3E")
		100% 50%/27px 7px no-repeat;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	background-color: var(--fillhover);
	box-shadow: 0 0 0 2px var(--hight);
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
	background-color: var(--buttonhover);
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: var(--buttonhover);
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.35), 0 3px 0 0 var(--button);
	transform: translateY(-3px);
}
button:active {
	transform: translateY(0px);
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.35);
}

input:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

input[type="radio"],
input[type="checkbox"] {
	margin-top: -2px;
	transition: background-color 0.25s ease,
		box-shadow 0.25s cubic-bezier(0.53, 1.59, 0.51, 1);
}
input[type="checkbox"] {
	background-color: var(--like);
	width: calc(var(--mainpaddng) * 3);
	box-shadow: calc(var(--mainpaddng) * -1) 0 0 calc(var(--mainpaddng) / 3)
			var(--low) inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset;
}
input[type="checkbox"]:hover,
input[type="radio"]:hover {
	background-color: var(--midi);
}
input[type="checkbox"]:focus {
	box-shadow: calc(var(--mainpaddng) * -1) 0 0 calc(var(--mainpaddng) / 3)
			var(--low) inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight);
}

input[type="radio"] {
	border-radius: 100%;
	box-shadow: 0 0 0 calc(var(--mainpaddng) / 2) var(--low) inset;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	box-shadow: 0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight), 0 0 0 1px var(--low);
	background-color: var(--brand);
}

input[type="checkbox"]:checked {
	box-shadow: var(--mainpaddng) 0 0 calc(var(--mainpaddng) / 3) var(--low)
			inset,
		0 0 0 calc(var(--mainpaddng) / 3) var(--low) inset,
		0 0 0 2px var(--hight);
}

::placeholder {
	color: #636363;
}
a {
	text-decoration: none;
	color: var(--hight);
}
a:hover {
	text-decoration: underline;
	color: var(--brand);
}
ul,
ol,
label,
code,
p {
	margin: var(--mainpaddng) 0;
}

code,
kbd {
	background: var(--low);
	color: var(--code);
	padding: var(--mainpaddng);
	border-radius: var(--radius);
}
/* pre {
	margin: 0 calc(var(--mainpaddng) * -1);
} */
pre > code {
	display: block;
	overflow-x: auto;
}
img {
	max-width: 100%;
}
hr {
	margin: var(--mainpaddng) 0;
	border: none;
	height: 3px;
	border-radius: calc(var(--radius) / 6);
	background: var(--midi);
}
fieldset {
	border: 3px solid var(--midi);
	border-radius: var(--radius);
}
fieldset > legend {
	font-weight: 600;
	color: var(--textContrast);
	padding: calc(var(--mainpaddng) / 2) calc(var(--mainpaddng));
}

details {
	padding: var(--mainpaddng);
	border-radius: var(--radius);
	padding-bottom: calc(var(--mainpaddng) + var(--radius));
	background: var(--low);
}

details:last-of-type {
	padding-bottom: var(--mainpaddng);
}

details + details {
	margin-top: calc(var(--radius) * -1);
	border-top: 1px solid var(--mainbg);
	border-radius: 0 0 var(--radius) var(--radius);
}

details[open],
details:hover:not([open]) {
	background: var(--like);
	z-index: 1;
}
details summary {
	cursor: pointer;
	margin: calc(var(--mainpaddng) * -1);
	padding: var(--mainpaddng);
}

table {
	/* border-collapse: collapse; */
	margin: var(--mainpaddng) -1px;
	border-radius: calc(var(--radius) + 2px);
	width: calc(100% + 2px);
	overflow: hidden;
	border-spacing: 1px;
}
td,
th {
	padding: var(--mainpaddng);
	background: var(--low);
}
th {
	color: var(--textContrast);
}
tr:hover td,
tr:hover th {
	background-color: var(--fillhover);
}
