<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Draft.css</title>
		<meta name="theme-color" content="#232a31" />
		<link rel="stylesheet" href="../draft.css" />
	</head>
	<body>
		<nav>
			<h1>
				<span>Example 1</span>
				<span style="font-size: 13px; margin-left: -8px; margin-bottom: -2px;">.css</span>
				<span
					style="font-size: 9px; position: relative; left:-27px; top: -12px; opacity: 0.3;"
					>Draft</span
				>
			</h1>
			<input type="search" id="search" />
			<button></button>

			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Quisquam</a></li>
				<li><a href="#">Quisquam</a></li>
				<li><a href="#">Provident eaque</a></li>
				<li><a href="#">Velit distinctio</a></li>
				<li><a href="#">Provident eaque</a></li>
				<li><a href="#">Eos corrupti</a></li>
				<li><a href="#">Temporibus</a></li>
				<li><a href="#">Culpa eius</a></li>
			</ul>
		</nav>
		<main>
			<h1>Hello Word!</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nesciunt ratione ipsa
				corporis porro voluptatibus. Accusamus ipsa fugiat nisi magnam tenetur tempora ea
				cum. Vero ullam eaque soluta necessitatibus iste. Vitae aut asperiores iure
				dignissimos quibusdam minus cupiditate magni? Officiis provident aut minus
				praesentium. Optio voluptatem ratione.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis optio sunt
				commodi! Illum rem facere qui ab labore nemo molestiae suscipit quo laboriosam
				impedit possimus, culpa, et corrupti, sequi exercitationem?
			</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, soluta dolorem,
				animi sunt repudiandae voluptatem quod accusamus quaerat neque fugit quos odio
				maiores amet eos quasi. Facere quis sequi tempora?
			</p>
			<p>
				In veritatis debitis cupiditate accusantium neque inventore explicabo facilis.
				Deserunt, ratione doloribus eius voluptatem ipsam id necessitatibus! Veniam
				architecto placeat enim iusto nemo corrupti minus iure quisquam quasi, autem culpa!
			</p>
			<p>
				Nam maxime minus error cupiditate dicta nostrum quos quisquam, velit distinctio
				deleniti repellendus provident eveniet dolores aperiam necessitatibus impedit rem,
				assumenda quo est sequi exercitationem dignissimos consequuntur voluptatum
				laudantium! Temporibus?
			</p>
			<p>
				Minus magnam corrupti quis omnis consectetur officia delectus debitis! Fuga omnis,
				eos corrupti facilis eaque exercitationem sunt quam quisquam. Molestias sint
				necessitatibus atque fugit facilis cumque est optio earum exercitationem.
			</p>
			<p>
				Illum tempora ratione, culpa eius vero, non repellendus aspernatur ea quis
				recusandae minus ullam obcaecati debitis voluptatibus exercitationem corporis,
				veritatis praesentium. Accusantium, nisi quae sunt repellat magni adipisci
				repudiandae sed?
			</p>
			<p>
				Maiores nobis in accusamus perferendis voluptates odio, nisi debitis sit sint
				aliquam ipsum delectus sequi ex exercitationem, explicabo atque illum! Fugit dolor
				facere velit vel doloremque molestias voluptas minima repellendus.
			</p>
			<p>
				Aspernatur vitae ex sunt quod veritatis maxime esse autem soluta, totam tempora
				blanditiis, fuga placeat quibusdam laudantium distinctio reprehenderit enim
				provident recusandae dolorum? Aspernatur quia esse nobis magni cumque quos?
			</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, hic.</p>

			<table>
				<thead>
					<tr>
						<th width="5%">#</th>
						<th>Kod</th>
						<th>Nazwa</th>
						<th>Opis</th>
						<th width="200px"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td width="5%">1</td>
						<td><code>EDG-651</code></td>
						<td>Lorem ipsum dolor</td>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipisicing elitdolor sitamet
						</td>
						<td width="200px" style="text-align: right;">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td width="5%">2</td>
						<td><code>EDG-652</code></td>
						<td>Lorem ipsum dolor</td>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipisicing elitdolor sitamet
						</td>
						<td width="200px" style="text-align: right;">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td width="5%">3</td>
						<td><code>EDX-652*</code></td>
						<td>Lorem ipsum dolor</td>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipisicing elitdolor sitamet
						</td>
						<td width="200px" style="text-align: right;">
							<input type="checkbox" />
						</td>
					</tr>
					<tr>
						<td width="5%">5</td>
						<td><code>EDD-655</code></td>
						<td>Lorem ipsum dolor</td>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipisicing elitdolor sitamet
						</td>
						<td width="200px" style="text-align: right;">
							<input type="checkbox" />
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4">Lorem ipsum doreta: <b>3</b></td>
						<td width="200px" style="text-align: right;"><button>Remove</button></td>
					</tr>
				</tfoot>
			</table>
			<p>
				Hic dolorum facilis officiis explicabo fugiat sequi optio magni cupiditate voluptas
				vero eius, et in corrupti dolorem voluptatibus iure non dolor sed magnam enim, rerum
				rem? Numquam dicta ab quam.
			</p>
			<p>
				Non, ratione ipsum voluptatum, fuga itaque facilis ad nesciunt beatae eius suscipit
				ullam amet odio inventore. Accusantium error, dolor voluptate eaque corrupti nihil
				ratione explicabo recusandae, natus porro officiis quas.
			</p>
			<p>
				Quaerat, eum sit. Incidunt amet soluta voluptatem provident eaque facilis laudantium
				exercitationem assumenda error quibusdam, vel consequuntur, consequatur minima
				ducimus laborum ab sit ea porro saepe velit dolor odio distinctio?
			</p>
		</main>

		<footer id="author">
			2019 © Draft.css by
			<a href="https://kozakbartosz.pl">kozakbartosz.pl</a>
		</footer>
	</body>
</html>
