<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width"
		/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Draft.css</title>
		<meta name="theme-color" content="#232a31" />
		<link rel="stylesheet" href="../draft.css" />
	</head>
	<body>
		<header>
			<h1>
				<mark>
					Offer
				</mark>
				page
			</h1>
			<div>
				<nav>
					<a href="/">Home</a>
					<a href="/">Dosc</a>
					<a href="/">Prices</a>
					<a href="/">Contact</a>
				</nav>
			</div>
		</header>

		<main>
			<h1>Hello Word!</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nesciunt ratione ipsa
				corporis porro voluptatibus. Accusamus ipsa fugiat nisi magnam tenetur tempora ea
				cum. Vero ullam eaque soluta necessitatibus iste. Vitae aut asperiores iure
				dignissimos quibusdam minus cupiditate magni? Officiis provident aut minus
				praesentium. Optio voluptatem ratione.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis optio sunt
				commodi! Illum rem facere qui ab labore nemo molestiae suscipit quo laboriosam
				impedit possimus, culpa, et corrupti, sequi exercitationem?
			</p>
			<p>
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, soluta dolorem,
				animi sunt repudiandae voluptatem quod accusamus quaerat neque fugit quos odio
				maiores amet eos quasi. Facere quis sequi tempora?
			</p>
			<h2><a id="section1"></a>Section 1</h2>
			<p>
				In veritatis debitis cupiditate accusantium neque inventore explicabo facilis.
				Deserunt, ratione doloribus eius voluptatem ipsam id necessitatibus! Veniam
				architecto placeat enim iusto nemo corrupti minus iure quisquam quasi, autem culpa!
			</p>
			<p>
				Nam maxime minus error cupiditate dicta nostrum quos quisquam, velit distinctio
				deleniti repellendus provident eveniet dolores aperiam necessitatibus impedit rem,
				assumenda quo est sequi exercitationem dignissimos consequuntur voluptatum
				laudantium! Temporibus?
			</p>
			<p>
				Minus magnam corrupti quis omnis consectetur officia delectus debitis! Fuga omnis,
				eos corrupti facilis eaque exercitationem sunt quam quisquam. Molestias sint
				necessitatibus atque fugit facilis cumque est optio earum exercitationem.
			</p>
			<p>
				In veritatis debitis cupiditate accusantium neque inventore explicabo facilis.
				Deserunt, ratione doloribus eius voluptatem ipsam id necessitatibus! Veniam
				architecto placeat enim iusto nemo corrupti minus iure quisquam quasi, autem culpa!
			</p>
			<p>
				Nam maxime minus error cupiditate dicta nostrum quos quisquam, velit distinctio
				deleniti repellendus provident eveniet dolores aperiam necessitatibus impedit rem,
				assumenda quo est sequi exercitationem dignissimos consequuntur voluptatum
				laudantium! Temporibus?
			</p>
			<p>
				Minus magnam corrupti quis omnis consectetur officia delectus debitis! Fuga omnis,
				eos corrupti facilis eaque exercitationem sunt quam quisquam. Molestias sint
				necessitatibus atque fugit facilis cumque est optio earum exercitationem.
			</p>
			<p>
				In veritatis debitis cupiditate accusantium neque inventore explicabo facilis.
				Deserunt, ratione doloribus eius voluptatem ipsam id necessitatibus! Veniam
				architecto placeat enim iusto nemo corrupti minus iure quisquam quasi, autem culpa!
			</p>
			<p>
				Nam maxime minus error cupiditate dicta nostrum quos quisquam, velit distinctio
				deleniti repellendus provident eveniet dolores aperiam necessitatibus impedit rem,
				assumenda quo est sequi exercitationem dignissimos consequuntur voluptatum
				laudantium! Temporibus?
			</p>
			<p>
				Minus magnam corrupti quis omnis consectetur officia delectus debitis! Fuga omnis,
				eos corrupti facilis eaque exercitationem sunt quam quisquam. Molestias sint
				necessitatibus atque fugit facilis cumque est optio earum exercitationem.
			</p>
			<h2><a id="section2"></a>Section 2</h2>
			<p>
				Illum tempora ratione, culpa eius vero, non repellendus aspernatur ea quis
				recusandae minus ullam obcaecati debitis voluptatibus exercitationem corporis,
				veritatis praesentium. Accusantium, nisi quae sunt repellat magni adipisci
				repudiandae sed?
			</p>
			<p>
				Maiores nobis in accusamus perferendis voluptates odio, nisi debitis sit sint
				aliquam ipsum delectus sequi ex exercitationem, explicabo atque illum! Fugit dolor
				facere velit vel doloremque molestias voluptas minima repellendus.
			</p>
			<p>
				Aspernatur vitae ex sunt quod veritatis maxime esse autem soluta, totam tempora
				blanditiis, fuga placeat quibusdam laudantium distinctio reprehenderit enim
				provident recusandae dolorum? Aspernatur quia esse nobis magni cumque quos?
			</p>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, hic.</p>
		</main>
		<footer>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, hic.</p>
		</footer>
	</body>
</html>
